@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input, textarea, select {
      background: transparent !important;
    }

    input:focus, textarea:focus, select:focus {
        background: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}


:root {
    /*
    * Global primary colors
    */
    --tw-primary-950: #ffffff;
    --tw-primary-900: #ffffff;
    --tw-primary-800: #ffffff;
    --tw-primary-700: #ffffff;
    --tw-primary-600: #ffffff;
    --tw-primary-500: #ffffff;
    --tw-primary-400: #ffffff;
    --tw-primary-300: #ffffff;
    --tw-primary-200: #ffffff;
    --tw-primary-100: #ffffff;
    --tw-primary-50: #ffffff;
    /*
    * End global primary colors
    */

    /*
    * Global secondary colors
    */
    --tw-secondary-950: #ffffff;
    --tw-secondary-900: #ffffff;
    --tw-secondary-800: #ffffff;
    --tw-secondary-700: #ffffff;
    --tw-secondary-600: #ffffff;
    --tw-secondary-500: #ffffff;
    --tw-secondary-400: #ffffff;
    --tw-secondary-300: #ffffff;
    --tw-secondary-200: #ffffff;
    --tw-secondary-100: #ffffff;
    --tw-secondary-50: #ffffff;
    /*
    * End global secondary colors
    */


}

/* |----------------------------------------------------------------------------
   | Custom Utilities | Vuetify
   |----------------------------------------------------------------------------
*/
.v-expansion-panel__shadow {
    box-shadow: none !important;
}
.v-expansion-panel-title {
    border-radius: 10px !important;
}

.v-expansion-panel-text__wrapper {
    padding: 0px !important;
}
.v-navigation-drawer__scrim {
    position: fixed !important;
}

/* |----------------------------------------------------------------------------
   | Custom Utilities | Tailwind
   |----------------------------------------------------------------------------
*/
html {
    touch-action: manipulation !important;
}

/* |----------------------------------------------------------------------------
   | Custom Utilities | Toastify
   |----------------------------------------------------------------------------
*/
.toastify.on {
    border-radius: 20px !important;
    padding: 20px 20px !important;
}
.toastify-success {
    background: linear-gradient(to right, rgba(0, 176, 155, 0.8), rgba(150, 201, 61, 0.8));
    backdrop-filter: blur(5px);
}
.toastify-error {
    background: linear-gradient(to right, rgba(255, 95, 109, 0.8), rgba(255, 195, 113, 0.8));
    backdrop-filter: blur(5px);
}
